/*
 * UI style for app
*/

/* Message Box */
.msg .x-box-mc {
	font-size:14px;
}

#flash-msg {
	position:absolute;
	left:35%;
	top:20px;
	width:360px;
	z-index:9999;
}

/* Override */
.folder .x-tree-node-icon {
	background:transparent url(../images/icon/folder.png);
}

.x-tree-node-expanded .x-tree-node-icon {
	background:transparent url(../images/icon/folder-open.png);
}

/* Icons */
.icon-help {
	background-image:url(../images/icon/question.png) !important;
}

.icon-save {
	background-image:url(../images/icon/disk.png) !important;
}

.icon-saveall {
	background-image:url(../images/icon/disks.png) !important;
}

.icon-folder-add {
	background-image:url(../images/icon/folder-plus.gif) !important;
}
.icon-folder-del {
	background-image:url(../images/icon/folder-minus.gif) !important;
}
.icon-folder-edit {
	background-image:url(../images/icon/folder-pencil.gif) !important;
}
