/*
 * UI style for app
*/

/* Message Box */
.msg .x-box-mc {
	font-size:14px;
}

#msg-div {
	position:absolute;
	left:35%;
	top:10px;
	width:300px;
	z-index:20000;
}
#msg-div .msg {
	border-radius: 8px;
	-moz-border-radius: 8px;
	background: #F6F6F6;
	border: 2px solid #ccc;
	margin-top: 2px;
	padding: 10px 15px;
	color: #555;
}
#msg-div .msg h3 {
	margin: 0 0 8px;
	font-weight: bold;
	font-size: 15px;
}
#msg-div .msg p {
	margin: 0;
}

/* Loading Mask */
.big-loading-mask div{
	padding:10px 15px 10px 50px;
	background: #fbfbfb url( '../images/shared/ajax-loader2.gif' ) no-repeat 5px 5px;
	line-height: 24px;
}

/* Override */
.folder .x-tree-node-icon {
	background:transparent url(../images/icon/folder.png);
}

.x-tree-node-expanded .x-tree-node-icon {
	background:transparent url(../images/icon/folder-open.png);
}

/* Icons */
.icon-help {
	background-image:url(../images/icon/question.png) !important;
}

.icon-save {
	background-image:url(../images/icon/disk.png) !important;
}

.icon-saveall {
	background-image:url(../images/icon/disks.png) !important;
}

.icon-folder-add {
	background-image:url(../images/icon/folder-plus.gif) !important;
}
.icon-folder-del {
	background-image:url(../images/icon/folder-minus.gif) !important;
}
.icon-folder-edit {
	background-image:url(../images/icon/folder-pencil.gif) !important;
}

.icon-design {
	background-image:url(../images/icon/pencil-ruler.png) !important;
}

.icon-code {
	background-image:url(../images/icon/edit-code.png) !important;
}

.icon-plus {
	background-image:url(../images/icon/plus.png) !important;
}
.icon-minus {
	background-image:url(../images/icon/minus.png) !important;
}

.icon-plus-circle {
	background-image:url(../images/icon/plus-circle.png) !important;
}
.icon-minus-circle {
	background-image:url(../images/icon/minus-circle.png) !important;
}

.icon-undo {
	background-image:url(../images/icon/undo.gif) !important;
}
.icon-redo {
	background-image:url(../images/icon/redo.gif) !important;
}
.icon-magnifier {
	background-image:url(../images/icon/magnifier.png) !important;
}
.icon-left-to-right {
	background-image:url(../images/icon/left-to-right.gif) !important;
}
.icon-doc-html {
	background-image:url(../images/icon/document-text-image.png) !important;
}
.icon-doc-text {
	background-image:url(../images/icon/document-text.png) !important;
}
