/*
 * style sheets for editor
*/

.icon-design {
	background-image:url(../images/editor/pencil-ruler.png) !important;
}

.icon-code {
	background-image:url(../images/editor/edit-code.png) !important;
}

.icon-undo {
	background-image:url(../images/editor/undo.png) !important;
}
.icon-redo {
	background-image:url(../images/editor/redo.png) !important;
}
.icon-magnifier {
	background-image:url(../images/editor/magnifier.png) !important;
}
.icon-nowrap {
	background-image:url(../images/editor/arrow-stop.png) !important;
}

/* Toolbar */
.icon-edit-bold {
	background-image:url(../images/editor/edit-bold.png) !important;
}

.icon-edit-italic {
	background-image:url(../images/editor/edit-italic.png) !important;
}

.icon-edit-underline {
	background-image:url(../images/editor/edit-underline.png) !important;
}
.icon-edit-subscript {
	background-image:url(../images/editor/edit-subscript.png) !important;
}
.icon-edit-superscript {
	background-image:url(../images/editor/edit-superscript.png) !important;
}
.icon-edit-hr {
	background-image:url(../images/editor/edit-rule.png) !important;
}

.icon-edit-strikethrough {
	background-image:url(../images/editor/edit-strike.png) !important;
}

.icon-edit-heading {
	background-image:url(../images/editor/edit-heading.png) !important;
}

.icon-edit-justifyleft {
	background-image:url(../images/editor/edit-alignment.png) !important;
}

.icon-edit-justifycenter {
	background-image:url(../images/editor/edit-alignment-center.png) !important;
}

.icon-edit-justifyright {
	background-image:url(../images/editor/edit-alignment-right.png) !important;
}

.icon-edit-insertorderedlist {
	background-image:url(../images/editor/edit-list-order.png) !important;
}

.icon-edit-insertunorderedlist {
	background-image:url(../images/editor/edit-list.png) !important;
}

.icon-edit-createlink {
	background-image:url(../images/editor/link.png) !important;
}

.icon-edit-unlink {
	background-image:url(../images/editor/link_break.png) !important;
}
.icon-edit-insertimg {
	background-image:url(../images/editor/picture.png) !important;
}

.icon-edit-forecolor {
	background-image:url(../images/editor/edit-color.png) !important;
}

.icon-edit-backcolor {
	background-image:url(../images/editor/paint-can-color.png) !important;
}

.icon-edit-inserttable {
	background-image:url(../images/editor/table.png) !important;
}